.outer {
    width:500px;
    margin: 5px auto;
    padding:5px;
}
.features{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #313437;
}
.features p{
    color: #7d8285;
}
.features h3{
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 5px;
}