{% extends 'base-jadwal.html' %}

{% block content %}

<title>Riwayat Donor Darah</title>

<body>


<br>
<p style="text-align:center;">Untuk membuat janji donor darah baru, isi formulir <a href="{% url 'jadwal:book_jadwal' %}">di sini</a>.</p>
<br>
<br>

<div class="container">
    <h3 style="text-align:center">Riwayat Donor Darah</h3>          
    <table class="table table-hover">
        <thead>
            <tr style="text-align:center">
                <th>Tanggal</th>
                <th>Lokasi</th>
                <th>Status</th>
                <th>Pilihan</th>
            </tr>
        </thead>
        <br>
        <br>
        <tbody>
            {% for jadwal in list_jadwal %}
                <tr>
                <ol reversed>
                <td>{{jadwal.date}}/{{jadwal.month}}/{{jadwal.year}}</td>
                <td>{{jadwal.loc}}</td>
                <td>{{jadwal.accepted}}</td>
                <td>
                    {% if jadwal.accepted != 'Selesai' %}
                    <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"><a href="{% url 'jadwal:delete' jadwal.id %}">Batalkan</a></button>
                    {% endif %}
                </td>
                </ol>
            </tr>
    {% endfor %}
        </tbody>
    </table>
  </div>

</body>

{% endblock content %}