

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/signup_relawan.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% block meta %}
  {% endblock meta %}
  <title>Sign Up</title>
  <style> 
    .input-sign {
      background: #FFFFFF;
      border: 1px solid #EB1D36;
      border-radius: 43px;
      height: 56px;
      padding-right: 15px;
      margin-top: 0px;
    }
    .sign-comp{
      margin-top: 26px;
    }
    .sign-comp p{
    margin-bottom: 0px;
}
    </style>
</head>

<body class="row body-signup">
  <h1>Halo Relawan</h1>
</body>
</html>